<?xml version="1.0"?>
<!-- Generated web.config for Microsoft Azure. Remove this comment to prevent
     modifications being overwritten when publishing the project.
-->
<configuration>
  <appSettings>
    <add key="WSGI_HANDLER" value="application.app" />
    <add key="PYTHONPATH" value="D:\home\site\wwwroot" />
  </appSettings>
</configuration>